<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Academy's_App</display-name>
  <welcome-file-list>
  
    <welcome-file>AdminPortal.jsp</welcome-file>
    <welcome-file>AssignClasses.jsp</welcome-file>
    <welcome-file>TeacherClasses.jsp</welcome-file>
    <welcome-file>StudentList.jsp</welcome-file>
    <welcome-file>TeachersClass.jsp</welcome-file>
    <welcome-file>View.jsp</welcome-file>
    <welcome-file>ListOfTeachers.jsp</welcome-file>
    <welcome-file>ListOfClasses.jsp</welcome-file>
    <welcome-file>ListOfSubjects.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
    <description>Service</description>
    <display-name>Services</display-name>
    <servlet-name>ServicesServlet</servlet-name>
    <servlet-class>org.academy.object.servlet</servlet-class>
    </servlet>
    
    <servlet>
    <description>AssignClass</description>
    <display-name>AssignClass</display-name>
    <servlet-name>AssignClassesServlet</servlet-name>
    <servlet-class>org.academy.object.servlet</servlet-class>
    </servlet>
    
   
    
</web-app>